<div class="row">
    <div class="col-12 d-flex justify-content-center m-3" >
        <button type="button" class="btn border" [ngClass]="currentComponent=='Roles'?'btn-success':'btn-secondary'" (click)="changeTab('Roles')">Roles</button>
        <button type="button" class="btn border" [ngClass]="currentComponent=='Designation'?'btn-success':'btn-secondary'" (click)="changeTab('Designation')">Designation</button>
    </div>
</div>

<div class="row">
    <div class="col-12" *ngIf="currentComponent=='Roles'">
        <app-roles></app-roles>
    </div>
    <div class="col-12" *ngIf="currentComponent=='Designation'">
        <app-designation></app-designation>
    </div>
</div>